# Secrets
.env

# Data lokal (jangan commit dataset besar)
data/
*.duckdb
*.parquet
*.csv

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/
.ruff_cache/

# OS / editor
.DS_Store
.vscode/
.idea/
